.board {
    max-width: 768px;
    max-height: 768px;
    border: 2px solid black;
    display: block;
}

@media screen and (orientation:landscape) {
    .board {
        height: 70vh;
        width: 70vh;
    }
}
@media screen and (orientation:portrait) {
    .board {
        height: 70vw;
        width: 70vw;
    }
}