.move-history {
  width: 140px;
  max-height: 768px;
  background: #222;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.move-history .header {
  color: white;
  text-decoration: underline;
}

.move-history .move-list {
  width: 100%;
  color: #CCC;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
}

.move-history .move-pair {
  margin: 5px;
}

.move-history .move-pair span {
  margin: 0 3px;
}

.move-history .move-pair span:not(:first-child):hover {
  color: white;
  font-weight: bold;
}

@media screen and (orientation:portrait) {
  .move-history {
      height: 70vw;
  }
}

@media screen and (orientation:landscape) {
  .move-history {
      height: 70vh;
  }
}
